* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    overflow-x: hidden;
    font-family: "Roboto";
  }

  .nav-item {
      padding: 5px;
  }

.image {
    width: 100%;
    height: 100%;
}

.p-5vh {
    padding-top: 15vh;
}

.h-500 {
    height: 700px;
}
.h-1000 {
    height: 1300px;
}

.ox {
    overflow-x: hidden;
}

#steps .row {
    position: relative;
}

.step-1 {
    padding: 30px;
    padding-top: 10px !important;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    background-color: purple;
    height: 50vh;
    overflow-x: hidden;
}

#step-1::before {
    content: '1';
    font-size: 150px;
    top: 0;
    left: 0;
    position: absolute;
    color: rgba(0, 0, 0, 0.24);
}

#step-1 {
    color: black;
    padding-top: 5%;
    padding-left: 5%;
    position: relative;
}

.step-2 {
    align-items: flex-end;
    padding: 50px;
    position: absolute;
    bottom: 5vh;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    background-color: orange;
    height: 25vh;
    overflow-x: hidden;
}

#step-2 {
    margin-right: 8%;
    padding: 0;
}

#step-2::before {
    content: '2';
    font-size: 150px;
    top: 0;
    right: 5%;
    position: absolute;
    color: rgba(0, 0, 0, 0.24);
}

.box {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 50px 30px;
    padding-bottom: 10px;
    margin: 10px;
}

.transparent-box {
    text-align: center;
    padding: 50px 30px;
}

.professions {
    border-radius: 20px;
    padding: 50px 30px;
    background: rgba(255,255,255,0.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    backdrop-filter: blur(15px);
}


.professions .fa {
    filter:contrast(150%);
    background: rgba(255, 255, 255, 0.068);
    /* box-shadow: 0 10px 25px rgba(0,0,0,0.2); */
    border-radius: 50%;
    padding: 15px 25px;
}

.box p {
    font-size: 13px;
}

.professions h2 {
    color: white;
    font-weight: lighter;
    padding-top: 10px;
}

.fa {
    font-size: 60px !important;
    padding-bottom: 30px;
}



.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}
.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid #fff;
    border-radius: 25px;
    margin-bottom: 50px;
}
@media (max-width: 767px) {
    /* .icon-scroll {
        position: relative
    } */
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}