* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-size: cover;
    overflow-x: hidden;
  }

  .nav-item {
      padding: 5px;
  }

.image {
    width: 100%;
    height: 100%;
}

.p-5vh {
    padding-top: 15vh;
}

.h-500 {
    height: 900px;
}
.h-1000 {
    height: 1300px;
}

.ox {
    overflow-x: hidden;
}

.box {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 50px 30px;
    padding-bottom: 10px;
    margin: 10px;
}

.box p {
    font-size: 13px;
}

.fa {
    font-size: 60px !important;
    padding-bottom: 30px;
}



.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}
.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid #fff;
    border-radius: 25px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}
.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}
@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}